@*
***********************************************************************
Author           : glensouza
Created          : 01-14-2025

Last Modified By : glensouza
Last Modified On : 01-16-2025
***********************************************************************
<summary>Chatbot component to interact with Azure OpenAI</summary>
***********************************************************************
*@
@rendermode InteractiveServer

@inject IJSRuntime JsRuntime
@using Azure
@using Azure.Search.Documents.Indexes
@using Blazor.AI.Web.Plugins
@using Markdig
@using Microsoft.SemanticKernel;
@using Microsoft.SemanticKernel.ChatCompletion;
@using Microsoft.SemanticKernel.Connectors.OpenAI;

@* when checkbox is checked, the chatbot appears, otherwise it clears chat history and hides *@
<input type="checkbox" id="check" @onclick="this.ClearChat" />
<label class="chat-btn" for="check">
    <i class="fa fa-commenting-o comment"></i>
    <i class="fa fa-close close"></i>
</label>

@* the chatbot ui *@
<div class="wrapper">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="card" id="chat1" style="border-radius: 15px;">
                <div class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                    <p class="mb-0 fw-bold">Chat with Azure OpenAI</p>
                </div>
                <div class="card-body" id="messages-container" style="height: 500px; overflow-y: auto; background-color: #eee; border: 2px solid #0CCAF0">
                    @* display each message in history *@
                    @foreach (string chatMessage in this.messages)
                    {
                        @if (chatMessage.Contains("|AI|"))
                        {
                            @* AI message *@
                            <div class="d-flex flex-row justify-content-start mb-4">
                                <div class="avatarSticky">
                                    <img src="openai-chatgpt-logo-icon.webp" alt="avatar 1" style="width: 45px; height: 100%;">
                                </div>
                                <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                                    @((MarkupString)chatMessage.Replace("|AI|", string.Empty))
                                </div>
                            </div>
                            continue;
                        }

                        @* User message *@
                        <div class="d-flex flex-row justify-content-end mb-4">
                            <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
                                @((MarkupString)chatMessage)
                            </div>
                            <div class="avatarSticky">
                                <img src="user-icon.png" alt="avatar 1" style="width: 45px; height: 100%;">
                            </div>
                        </div>
                    }

                    @* display the streaming response *@
                    @if (!string.IsNullOrEmpty(this.htmlStreamingResponse))
                    {
                        <div class="d-flex flex-row justify-content-start mb-4">
                            <div class="avatarSticky">
                                <img src="openai-chatgpt-logo-icon-progress.webp" alt="avatar 1" style="width: 45px; height: 100%;">
                            </div>
                            <div class="p-3 ms-3" style="border-radius: 15px; background-color: #39c8ed; color: #ffff;">
                                @((MarkupString)this.htmlStreamingResponse)
                            </div>
                        </div>
                    }
                </div>
                
                @* the form for user to ask question *@
                <div class="card-footer bg-info text-white" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Prompt..." @bind="this.message" id="Message" @onkeydown="this.EnterCheckMessage" disabled=@(!string.IsNullOrEmpty(this.htmlStreamingResponse)) />
                        <span class="input-group-btn">
                            <button class="btn btn-default" @onclick="this.SendChat" disabled=@(!string.IsNullOrEmpty(this.htmlStreamingResponse))>
                                <i class="fa fa-paper-plane"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Include this javascript on the head section of html to be used by the chatbot *@
<HeadContent>
    <script>
        function scrollToBottom() {
            var objDiv = document.getElementById("messages-container");
            objDiv.scrollTop = objDiv.scrollHeight;
        }

        function focusOnMessage() {
            var message = document.getElementById("Message");
            if (message != null) {
                setTimeout(() => message.focus(), 100);
            }
        }
    </script>
</HeadContent>

@* ReSharper disable once CSharpWarnings::CS8618 *@
@code {
#pragma warning disable SKEXP0010 // Type is for evaluation purposes only and is subject to change or removal in future updates. Suppress this diagnostic to proceed.

    [Inject]
    private IConfiguration Configuration { get; set; } = null!;

    private Kernel? kernel;
    private IChatCompletionService? chatCompletionService;
    private OpenAIPromptExecutionSettings? openAIPromptExecutionSettings;
    private readonly ChatHistory chatHistory = [];
    private bool loading = false;
    private readonly MarkdownPipeline pipeline = new MarkdownPipelineBuilder()
        .UseAdvancedExtensions()
        .UseBootstrap()
        .UseEmojiAndSmiley()
        .Build();

    private string message = string.Empty;
    private string htmlStreamingResponse = string.Empty;
    private readonly List<string> messages = [];

    #pragma warning disable CS1998 // Async method lacks 'await' operators and will run synchronously
    protected override async Task OnInitializedAsync()
    #pragma warning restore CS1998 // Async method lacks 'await' operators and will run synchronously
    {
        // Get Azure OpenAI settings
        string aoaiKey = this.Configuration["AzureOpenAI:Key"] ?? throw new Exception("AzureOpenAI:Key needs to be set"); string aoaiEndpoint = this.Configuration["AzureOpenAI:Endpoint"] ?? throw new Exception("AzureOpenAI:Endpoint needs to be set");
        string aoaiChatDeploymentName = this.Configuration["AzureOpenAI:ChatDeploymentName"] ?? throw new Exception("AzureOpenAI:ChatDeploymentName needs to be set");
        string aoaiEmbeddingDeploymentName = this.Configuration["AzureOpenAI:EmbeddingDeploymentName"] ?? throw new Exception("AzureOpenAI:EmbeddingDeploymentName needs to be set");
        string searchServiceEndpoint = this.Configuration["AzureSearch:Endpoint"] ?? throw new Exception("AzureSearch:Endpoint needs to be set");
        string searchApiKey = this.Configuration["AzureSearch:Key"] ?? throw new Exception("AzureSearch:Key needs to be set");

        // Configure Semantic Kernel
        IKernelBuilder kernelBuilder = Kernel.CreateBuilder();

        // Add OpenAI Chat Completion
        kernelBuilder.AddAzureOpenAIChatCompletion(aoaiChatDeploymentName, aoaiEndpoint, aoaiKey);

        // Register Azure OpenAI Text Embeddings Generation
        kernelBuilder.Services.AddAzureOpenAIEmbeddingGenerator(aoaiEmbeddingDeploymentName, aoaiEndpoint, aoaiKey);
        
        // Register Search Index
        kernelBuilder.Services.AddSingleton(_ => new SearchIndexClient(new Uri(searchServiceEndpoint), new AzureKeyCredential(searchApiKey)));

        // Register Azure AI Search Vector Store
        kernelBuilder.Services.AddAzureAISearchVectorStore();

        // Finalize Kernel Builder
        this.kernel = kernelBuilder.Build();

        // Add Plugins
        this.kernel.Plugins.AddFromType<SearchPlugin>(nameof(SearchPlugin), this.kernel.Services);
        this.kernel.Plugins.AddFromType<TimeInformationPlugin>(nameof(TimeInformationPlugin), this.kernel.Services);

        // Chat Completion Service
        this.chatCompletionService = this.kernel.Services.GetRequiredService<IChatCompletionService>();

        // Create OpenAIPromptExecutionSettings
        this.openAIPromptExecutionSettings = new OpenAIPromptExecutionSettings
        {
            ChatSystemPrompt = "You are an HR virtual assistant at Contoso Hotels, expert at answering employee questions related to privacy policy, vacation policy, and describe a few job roles. Ask followup questions if something is unclear or more data is needed to complete a task. You can also answer generic questions about the world as it is a global company.",
            Temperature = 0.9, // Set the temperature to 0.9
            FunctionChoiceBehavior = FunctionChoiceBehavior.Auto() // Auto invoke kernel functions
        };
    }

    // Check if the user pressed Enter key
    private async Task EnterCheckMessage(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await this.SendChat();
        }
    }

    // Send chat message to the AI
    private async Task SendChat()
    {
        if (string.IsNullOrEmpty(this.message))
        {
            await this.JsRuntime.InvokeVoidAsync("focusOnMessage");
            return;
        }

        this.htmlStreamingResponse = "<i class=\"fa fa-ellipsis-h\"></i>";
        this.chatHistory.AddUserMessage(this.message);
        this.messages.Add(this.message);
        this.message = string.Empty;
        string streamingResponse = string.Empty;

        await foreach (StreamingChatMessageContent response in this.chatCompletionService!.GetStreamingChatMessageContentsAsync(this.chatHistory,
                           executionSettings: this.openAIPromptExecutionSettings,
                           kernel: this.kernel))
        {
            streamingResponse += response;
            this.htmlStreamingResponse = Markdown.ToHtml($"{streamingResponse} <i class=\"fa fa-ellipsis-h\"></i>");
            this.StateHasChanged();
            await this.JsRuntime.InvokeVoidAsync("scrollToBottom");
            await Task.Delay(100);
        }

        this.chatHistory.AddAssistantMessage(streamingResponse);
        this.messages.Add($"{Markdown.ToHtml($"|AI|{streamingResponse}")}");
        this.htmlStreamingResponse = string.Empty;
        await this.JsRuntime.InvokeVoidAsync("focusOnMessage");
    }

    // Clear the chat
    private async Task ClearChat()
    {
        this.messages.Clear();
        this.chatHistory.Clear();
        this.chatHistory.AddSystemMessage("You are an HR virtual assistant at Contoso Hotels, expert at answering employee questions related to privacy policy, vacation policy, and describe a few job roles. Ask followup questions if something is unclear or more data is needed to complete a task. You can also answer generic questions about the world as it is a global company.");
        this.htmlStreamingResponse = string.Empty;
        this.message = string.Empty;
        this.messages.Add("|AI|Welcome to the AI chatbot! I am an AI chatbot trained by OpenAI.");
        this.StateHasChanged();
        await this.JsRuntime.InvokeVoidAsync("focusOnMessage");
    }
}
